{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/contact_info.css' %}">
<div id="allItems">
    <h3>Contact Information:</h3>
    <form class="form form-horizontal" id="form" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    <form action = "{% url 'cart-index' %}" class = "button-form">
        <button type = "submit">Go Back</button>
    </form>
</div>
{% endblock %}