{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <script src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>
    <div id = "cereal-container">
        {% csrf_token %}
        <script>
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            const removeIndex = "{% url 'removeFromCart' %}";
        </script>
        {% for item in items %}
        <div class = "cereal-cart-info-box" id = "{{ item.product.id }}container">
            <button class = "del-button" value="{{ item.product.id }}">X</button>
            <img src="{{ item.product.productimage_set.first.image }}"/>
            <h3>{{ item.product.name }}</h3>
            <div class = "cereal-info">
                <p>Amount: {{ item.quantity }}</p>
                <p>Price: {{ item.quantity|mul:item.product.price }} kr.</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id = "right-side-container">
        <h2 id = "total-header">Total: {{ totalPrice }}kr.</h2>
        <div id = "user-info-container">
            <p>Name: {{ profile.name }}</p>
            <p>Phone number: {{ profile.phone }}</p>
            <p>Address: {{ address.streetName }}  {{ address.houseNumber }} {{ address.postalCode }} {{ address.city }} {{ address.country }}</p>
        </div>
        <div id = "button-container">
            <form action="{% url 'confirm-card' %}" class = "button-form">
                <button type = "submit">Pay</button>
            </form>
            <form action = "{% url 'catalog-page' %}" class = "button-form">
                <button type = "submit">Go Back</button>
            </form>
        </div>
    </div>
{% endblock %}