{% extends 'base.html' %}
{% load static %}
<head>
    <title>Catalog</title>
</head>
{% block content %}

    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <form id = "card-info" method="post">
        {% csrf_token %}
        {{ buttonForm }}
        <input type="submit" value="Submit" id = "buttonFormSubmit">
    </form>
    <div id = "register-card">
        <h3>New Card:</h3>
        <form method="post">
            {% csrf_token %}
            {{ cardForm }}
            <input type="submit" value="Submit">
        </form>
    </div>

    <!-- TODO: Send card info along (session things?)-->
    <form action = "{% url 'cart-index' %}" class = "button-form">
        <button type = "submit">Go Back</button>
    </form>
    <form action = "{% url 'review' %}" class = "button-form" onsubmit="testingSubmit();">
        <button type = "submit">Confirm</button>
    </form>

    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
{% endblock %}
