{% extends 'base.html' %}
{% load static %}
<head>
    <title>Catalog</title>
</head>
{% block content %}
    {% csrf_token %}
    <script src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    {% for card in cards %}
        {% csrf_token %}
    {#        <input type="radio" onclick="newCardCheck({{ card.id }})">#}
        <div class = "card-set">
            <p>Card ending with:</p>
            <p>************{{ card.cardNumber|slice:"-4:" }}</p>
        </div>
        <div class = "card-set">
            <p>Expiry date:</p>
            <p>{{ card.expDate|slice:":2" }}/{{ card.expDate|slice:"-2:" }}</p>
        </div>
        <button onclick='useCard({{ card.id }})'>Select</button>
    {% endfor %}
    <h3>New Card:</h3>
    <div id = "register-card">
        <form method="post">

            {% csrf_token %}
            {{ cardForm }}
            <input type="submit" value="Submit">
        </form>
    </div>

    <form action = "{% url 'cart-index' %}" class = "button-form">
        <button type = "submit">Go Back</button>
    </form>

    <script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const reviewSite = {% url 'review' %};
    </script>

{% endblock %}
