{% extends 'base.html' %}
{% load static %}
<head>
    <title>Catalog</title>
</head>
{% block content %}
    <script src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <h3>New Card:</h3>
    <div id = "register-card">
        <form method="post">

            {% csrf_token %}
            {{ cardForm }}
            <input type="submit" value="Submit">
        </form>
    </div>

    <form action = "{% url 'contact-info' %}" class = "button-form">
        <button type = "submit">Go Back</button>
    </form>

{% endblock %}