{% extends 'base.html' %}
{% load static %}
<head>
    <title class="Title">Description</title>
</head>
{% block content %}
    <link rel="stylesheet" href="{% static 'css/description.css' %}">
    <script src="{% static 'jquery/dist/jquery.js' %}"></script>
    <h1>Product Info</h1>
    <img class= "img" src="{{ cereal.productimage_set.first.image }}" alt="Cereal img">
    <div class = "information">
        <h2 id= "cerealName" >Name: {{ cereal.name }}</h2>
        <h3 id= "cerealPrice" >Price: {{ cereal.price }} kr</h3>
    </div>
    <span class= "info" id="Description" >Description: {{ cereal.description }}</span>
    <div class ="bigButtons">
        <button class="bigButton" onclick="window.location.href = '{% url 'catalog-page' %}'"> Go Back </button>
    </div>
    {% if user.is_superuser %}
    <a id= "deleteButton" href="{% url 'delete-product' cereal.id %}" class="block btn btn-primary">Delete Product</a>
    <a d= "updateButton" href="{% url 'update-product' cereal.id %}" class="block btn btn-primary">Update Product</a>
    <a id= "createButton" href="{% url 'create-product' %}" class="block btn btn-primary">Create Product</a>
    {% endif %}

<script src="{% static 'js/products.js' %}"></script>
{% endblock %}