html, body {
    width:100%; height:100%;
}
#cereal-container {
    width:60%;
    float:left;
}
.cereal-cart-info-box {
    background-color: #ededed;
    border: dimgrey 2px solid;
    padding:5px;
    margin:10px;
    overflow: auto;
}

img {
    height:200px;
    width:200px;
    float:left;
    padding-right: 15px;
}

#right-side-container {
    margin:10px;
    background-color:  #f2ad60;
    display:inline-block;
    height: 100%;
    width:38.5%;
}

#user-info-container {
    background-color: #f69732;
    width:50%;
    margin-left:25%;
    padding:10px;
}

#button-container {
    width:75%;
    margin-left:auto;
    margin-right:auto;
}

#button-container button {
    width: 45%;
    padding:15px;
    margin:10px;
}

#total-header {
    text-align: center;
}

.button-form {
    display:inline;
}

#confirm-button {
    float:right;
}

#register-card {
    margin:10px;
    display: none;
}

#card-info {
    background-color: #adadad;
    width:20%;
    margin:10px;
    overflow: auto;
}
.card-set {
    display:inline-block;
    margin-left:10px;
    margin-right: 10px;
}

#customer-info-pay {
    margin:10px;
    background-color: #edd1a1;
    width:20%;
}

.del-button {
    float:right;
}

#receipt-container {
    width:50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #deab54;
    text-align: center;
    padding:10px;
}

#receipt-container h1 {
    font-weight: bold;
}

#receipt-button {
    padding: 0.5em 2em;
}