.logo{
    width: 100px;
    height: 75px;
    margin: 10px;
}

.logoText{
    font-size: 30px;
    font-family: "Pacifico", sans-serif;
    color: white;
    float: right;
    width: 200px;
    text-align: center;
    margin-top:7%;
    text-shadow: 2px 2px gray;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.navbar-navbar-default {
    background: linear-gradient(-45deg, #f2ad60, #ff4d4d, #f2ad60, #ff4d4d);
    background-size: 400% 400%;
    animation: gradient 15s ease
infinite;
    position: fixed;
    top: 0;
    width: 100%;
}

/*#navBar {
    font-size: 20px;
}*/

/*Decides background color for the WHOLE SITE*/
body {
    background-color: #f8eded;
    margin-top: 200px;
}


/*
.navbar-navbar-default {
    background: linear-gradient(-45deg, #f2ad60, #e73c7e, #f2ad60, #e73c7e);
    background-size: 400% 400%;
    animation: gradient 15s ease
infinite;
}
*/

#image-cropper {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.profile-image {
  display: inline;
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;
}

#bs-example-navbar-collapse-1 {
    width:30%;
    float:right;
}

#bs-example-navbar-collapse-1 ul {
    display:inline-block;
    height:100%;

    vertical-align: center;
}

.navbar-header {
    display:inline-block;
}

.ui-helper-hidden-accessible{
    display: none;
}

.footer{
    margin-top: 50px;
    justify-content: center;
    background-color: lightcoral;
}