.register-container{
    width: 700px;
    height: 560px;
    display: block;
}
#left{
    margin-left: 300px;
}
.button-container{
    display: inline-flex;
}
.center{
    display: inline-flex;
}
.big-logo{
    width: 300px;
    height: 300px;
    margin-right: 100%;
}
label{
    width: 20%;
    height: 30px;
    text-align: left;
}
input{
    width: 60%;
    height: 30px;
}
button{
    width: 200px;
    height: 100px;
    margin-right: 40px;
    margin-left: 40px;
}