{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <div class="center">
        <div class="register-container" id="left">
            <img class="big-logo" src="/static/images/cereallogo.png" alt="Logo">
            <label for="name">Name: </label>
                <input type="text" id="name" placeholder="Enter name" name="name">
            <label for="pnr">Post Nr: </label>
                <input type="text" id="pnr" placeholder="Enter post nr" name="pnr">
            <label for="str name">Street name: </label>
                <input type="text" id="str name" placeholder="Enter street name" name="str name">
            <label for="hnr">House number: </label>
                <input type="text" id="hnr" placeholder="Enter house number" name="hnr">
            <div class="button-container">
                <button>Go back</button>
            </div>
        </div>
            <div class="register-container" id="right">
                    <img class="big-logo" src="/static/images/cereallogo.png" alt="Logo">
                <label for="city">City: </label>
                    <input type="text" id="city" placeholder="Enter city" name="city">
                <label for="country">Country: </label>
                    <input type="text" id="country" placeholder="Enter country" name="country">
                <label for="email">Email: </label>
                    <input type="email" id="email" placeholder="Enter email" name="email">
                <label for="pwd">Password: </label>
                    <input type="password" id="pwd" placeholder="Enter password" name="pswd">
                <div class="button-container">
                    <button>Create account</button>
                </div>
        </div>
    </div>
{% endblock %}