{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
<head>
    <title>Old order</title>
</head>
{% block content %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <h1>Review</h1>
    <div id = "cereal-container">
        {% for item in items %}
        <div class = "cereal-cart-info-box" id = "{{ item.product.id }}container">
            <img src="{{ item.product.productimage_set.first.image }}"/>
            <h3>{{ item.product.name }}</h3>
            <div class = "cereal-info">
                <p>Amount: {{ item.quantity }}</p>
                <p>Price: {{ item.quantity|mul:item.product.price }} kr.</p>
                <script>
                    prices[{{ item.product.id }}] = {{ item.quantity|mul:item.product.price }};
                </script>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id = "right-side-container">
        <h2 id = "total-header">Total: {{ totalPrice }}kr.</h2>
        <div id = "user-info-container">
            <p>Name: {{ profile.name }}</p>
            <p>Phone number: {{ profile.phone }}</p>
            <p>Address: {{ address.streetName }}  {{ address.houseNumber }} {{ address.postalCode }} {{ address.city }} {{ address.country }}</p>
        </div>
    </div>
{% endblock %}