{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
    <form class="form form-horizontal" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="btn btn-primary" value="Update"/>
    </form>
    {% if orders is not None %}
        <h1>Previous orders:</h1>
    {% endif %}
    {% for order in orders %}
        <div>
            <h2>{{ order.dateCreated }}</h2>
            <a href="order/{{ order.id }}">View contents</a>
        </div>
    {% endfor %}
{% endblock %}