{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
<div id="allItems">
    <form class="form form-horizontal" id="form" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="btn btn-primary" value="Update"/>
        <a id= "seeHistory" href="{% url 'seeSearchHistory' %}" >See Search History</a>
    </form>
        {% if orders.first is not None %}
            <b id="titlePrevious">Previous orders:</b>
        <div id="previousOrders">
            {% for order in orders %}
                <a href="order/{{ order.id }}" class="border-button">
                    <div class="orders">
                        <h2>{{ order.dateCreated }}</h2>
                    </div>
                </a>
            {% endfor %}
        </div>
        {% endif %}
</div>
{% endblock %}