{% extends 'base.html' %}
{% load static %}
<head>
    <title>Catalog</title>
</head>
{% block content %}
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    <h1>This is the Catalog</h1>
    <div class = "catalog-container">
        <div class = "cereal-container">
            <img src="https://images-na.ssl-images-amazon.com/images/I/81VQIHQ0-CL._SL1500_.jpg" alt="Cheerios box art" class = "cereal-img"/>
            <div>
                <h3>Cheerios</h3>
                <p>600 kr.</p>
            </div>

            <div class = "counter-container">
                <button>-</button><span class = "counter">0</span><button>+</button>

            <button><i class="bi bi-basket"></i></button>
            </div>
        </div>
    </div>
{% endblock %}
