{% extends 'base.html' %}
{% load static %}
<head>
    <title>Catalog</title>
</head>
{% block content %}
<body id="body">
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    <script src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'js/catalog.js' %}"></script>
    <h1>This is the Catalog</h1>
    <label for="filter">Filter by: </label>
    <span id="filter">
        <button value="healthy" type="button" class="filterBtn">Healthy </button>
        <button value="sugary" type="button" class="filterBtn">Sugary</button>
    </span>
    <label for="sort">Sort by: </label>
    <span id="sort">
        <button value="price" type="button" class="sortBtn">Price</button>
        <button value="name" type="button" class="sortBtn">Name</button>
    </span>
    <label for="search">Search: </label>
        <input type="search" id="search" placeholder="search" name="search"/>
        <button type="button" id="search-btn" class="btn btn-default">Search</button>

    <div class = "catalog-container">
        {% for cereal in cereals %}
        <div class = "cereal-container">
            <a class="border-button" href="products/{{ cereal.id }}">
                <img src="{{ cereal.productimage_set.first.image }}" class="cereal-img"/>
            </a>
            <h3>{{ cereal.name }}</h3>
            <script>cereals["{{ cereal.name }}"] = 0;</script>
            <p style="display: inline; font-weight: bold">{{ cereal.price }} kr.</p>
            <div>
                <button class="button roundbutton" onclick='decrement("{{ cereal.name }}")'>-</button>
                <p class="cereal-amount" id="{{ cereal.name }} amount">0</p>
                <button class="button roundbutton" onclick='increment("{{ cereal.name }}")'>+</button>
                <button class="button" onclick='sendToCart("{{ cereal.name }}")'><i class="bi bi-basket"></i></button>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
{% endblock %}
